.containery {
  display: flex;
  margin: auto;
  max-width: 1600px;

  gap: 30px;
  padding-top: 94px;
  padding-bottom: 0px;
  .containery__svg {
    border-radius: 4px;
    display: flex;

    margin-bottom: 30px;
    background: #efeff0;
    margin: 0 auto;
    width: 270px;
    height: 120px;
  }
  .containery__text {
    font-size: 16px;
    text-align: center;
    line-height: 1, 8;
    letter-spacing: 0.03em;
    color: #838282;
  }
  .containery__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1, 4;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
