.contact-list {
  margin-top: 20px;
  margin-bottom: 60px;
  .contact-list__adres {
    font-size: 14px;
    line-height: 1, 71428571;
    letter-spacing: 0.03em;

    text-decoration: none;
    color: #ffffff;
    &:focus {
      color: #2196f3;
    }
    &:hover {
      color: #2196f3;
    }
  }
  .contact-list__between {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .contact-list__tel-email {
    font-weight: 400;
    font-size: 14px;
    line-height: 1, 71428571;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:focus {
      color: #2196f3;
    }
    &:hover {
      color: #2196f3;
    }
  }
  .contact-list--decoration-not {
    text-decoration: none;
  }
}
