.footer {
  padding-left: 10px;
  flex-wrap: wrap;
  display: flex;
  gap: 60px;
  background: #2f303a;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;

  .footer__title {
    padding-bottom: 20px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    justify-content: center;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    .footer__title {
      text-align: left;
    }
  }
}
